<div id="email" class="outer">
  <div class="media inner">
    <div class="media-body">
      <%= link_to "Manage", questions_path, :id=>"", :class=>"btn btn-primary" %>
      <%= link_to "Qustions", answer_questions_path, :id=>"", :class=>"btn btn-primary" %>
    </div>
  </div>
</div>